/* src/ArbitrageTable.css */

/* Body Styles */
body {
    background-color: #485c6a; /* Blue Grey background color */
    margin-top: 20px; /* Add margin at the top */
  }
  
  /* Table Container Styles */
  .table-container {
    background-color:rgba(18, 23, 35, 0.8); /* Grey Blue for the table container */
    border-radius: 8px;
    border-color: #ffffff;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2); /* Neon White shadow */
    overflow: hidden;
    margin: 20px auto; /* Center the table container */
    max-width: 80%; /* Limit the maximum width of the table */
    display: flex;
    flex-direction: row; /* Change to row direction */
    align-items: center; /* Align items to the center */
    padding: 20px; /* Add padding for space inside the container */
    justify-content: space-between; /* Add space between items */
  }
  
  /* Table Styles */
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* Table Header Styles */
  .table-head {
    color: #ffffff; /* Neon White text color */
    
  }
  
  /* Table Body Styles */
  .table-body {
    text-align: center;
  }
  
  /* Table Row Styles */

  
  /* Table Cell Styles */
  .table-cell {
    padding: 10px;
    border-bottom: 1px solid #ffffff97; /* Neon White lines between rows */
    color: #ffffff; /* Neon White text color */
  }
  
  /* Coin Icon Styles */
  .coin-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  /* Lyra Arbitrage Title Styles */
  .lyra-title {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 10px; /* Add margin to the left to align with the box content */
  }
  